@page "/profile"
@inject IAuthServiceClient AuthService
@attribute [Authorize]

<PageTitle>Stafferable - Profile</PageTitle>

<div class="col d-flex justify-content-center">
    <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="width: 50rem;">
        <div class="mt-3"><i class="fa fa-5x fa-user-circle-o"></i></div>
        <div class="card-body">
            <h3 class="card-title">@model.FName @model.LName</h3>
            <p class="card-text">@model.Title (@model.Department)</p>
            <p class="card-text">@model.Email / @model.Phone</p>
            @if (@model.DateEdited != null)
            {
                <p class="card-text"><small class="text-muted">Last edited: @model.DateEdited?.ToString("dd MMMM yyyy HH:mm")</small></p>
            }
            <a href="change-password" class="btn btn-outline-danger">Change Password</a>
            <a href="change-profile" class="btn btn-outline-info">Edit Profile</a>
        </div>
    </div>
</div>

@code {
    User model = new User();

    protected override async Task OnInitializedAsync()
    {
        model = (await AuthService.GetSingleUser()).Data;
    }
}
